/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.video-card {
    margin-bottom: 10px;
    background-color: #000000d1;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.video-card-title {
    font-size: smaller !important;
}

.video-card-subtitle {
    font-size: medium !important;
}



