
<form #f="ngForm">

    <div class="form-row">
        <div class="form-group col-9">
            <input type="text" [(ngModel)]="searchVideoRequest.query" [ngModelOptions]="{standalone: true}" class="form-control input-lg" id="videoName" placeholder="Video Name ..." autocomplete="off" />
        </div>
        <div class="form-group col-3">
            <select class="form-control" [(ngModel)]="searchVideoRequest.maxResult" [ngModelOptions]="{standalone: true}">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20" selected>20</option>
            </select>
        </div>
        <button type="button" class="btn btn-light btn-block" (click)="searchVideos()">Search</button>
    </div>
</form>

<hr />

<cdk-virtual-scroll-viewport style="height: 500px" itemSize="5">

    <mat-card [ngClass]="'example-card video-card'" *cdkVirtualFor="let item of videoList" [ngStyle]="{'background-image': 'url(' + item.thumbnails.url + ')'}">
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-size': 'cover', 'background-image': 'url(' + item.channel.thumbnails.url + ')'}"></div>
            <mat-card-title class="video-card-title">{{item.channel.name}}</mat-card-title>
            <mat-card-subtitle class="video-card-subtitle">{{item.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="play(item)">
                <mat-icon>play_circle_filled</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-footer *ngIf="selectedItem == item">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

</cdk-virtual-scroll-viewport>

<hr />

<div class="footer bg-dark">
    <audio id="player" src="#" controls style="width:100%;padding:5px;" autoplay></audio>
</div>
