
<div>

    <form ng-submit="searchVideos()" id="searchForm">
        <div class="input-group mb-3">
            <input type="text" ng-model="key" class="form-control input-lg bg-dark text-white" id="videoName" placeholder="Video Adý ..." autocomplete="off" />
        </div>
        <div>
            <button type="button" class="btn btn-info btn-lg btn-block bg-dark text-white" ng-click="searchVideos()">Ara</button>
        </div>
    </form>


    <div *ngIf="videoList.length>0">
        <table class="table table-borderless text-white">
            <tbody>
                <tr ng-repeat="item in videoList">
                    <td style="vertical-align:middle;width:10%"><img style="max-height:60px" src="{{item.img}}" /></td>
                    <td class="text-wrap" style="vertical-align: middle; width: 80% ">{{item.titleShort}}</td>
                    <td style="vertical-align: middle; width: 10%">
                        <button class="play-btn" ng-click="play(item)"><i class="fa fa-play"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" style="margin-top:50px" *ngIf="isLoading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="footer bg-dark">
        <audio id="player" src="#" controls style="width:100%;padding:5px;" autoplay></audio>
    </div>
</div>
